.wrapper {
    cursor: pointer;
    width: min-content;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border-radius: 1rem;
    border: 1.5px solid rgb(133, 130, 130);
}