.wrapper {
    position: absolute;
    top: 0;
    display: grid;
    height: 100vh;
    align-content: center;
}

.content {
    display: grid;
    padding: 2rem 1.5rem;
    border: 0.1rem solid #252525;
    justify-items: center;
    align-content: center;
    gap: 0.5rem;
}

.header {
    font-size: 2rem;
    line-height: 100%;
    font-weight: 600;
}

.input_block {
    display: grid;
    gap: 0.5rem;
}

.name {
    font-size: 1.2rem;
}

.input input {
    outline: none;
    min-width: 250px;
}

.button {
    width: 100%;
    padding-top: 0.5rem;
}

.input input,
.button button {
    padding: .6rem .4rem;
}

.button button {
    line-height: 100%;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
    background-color: #252525;
    color: white;
    border: none;
}